html {
    font-family: Inter, Tahoma, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgba(230, 196, 174, 0.8);
    box-sizing: border-box;
}

.inverted {
    background-color: black;
    color: white;
    text-align: center;
}

.italics {
    font-weight: 500;
    text-align: center;
    background-color: white;
    border-style: double;
    border-bottom-style: none;
    border-color: brown;
    margin-bottom: 0px;
}

.time-serving {
    font-size: 12px;
    border-top-style: none;
    border-bottom-style: double;
    margin-top: 0px;
}

/*.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}*/

img {
    height: 500px;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: hsla(358, 73%, 35%, 0.8);
}

button {
    color: white;
    background-color: hsla(358, 73%, 35%, 0.8);
    text-align: center;
    font-weight: bolder;
}

